<article class="main_article">
    <div class="img_container">
        <a href="/"><div class="img_fade"></div></a>
        <img src="https://picsum.photos/364/232/?random" alt="MAIN IMAGE">
    </div>
    <a href="/"><h1>MAIN HEADLINE</h1></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis modi molestiae, quas voluptas, ullam facere aliquam temporibus sint corporis voluptatibus omnis iusto nisi nemo cupiditate! Atque inventore...[<a href="/">read more</a>]</p>
</article>
<section class="sub_articles">
    <% 3.times do |i| %>
    <article class="sub_article">
        <h2><a href="/">SUB HEADLINE <%= i+1 %></a></h2>
        <div class="img_container">
            <a href="/"><div class="img_fade"></div></a>
            <img src="http://unsplash.it/200/150?random=<%=i%>" alt="SUB IMAGE">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium similique tempore laborum nam tenetur ad odio incidunt...[<a href="/">read more</a>]</p>
    </article>
    <% end %>
</section>