<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">News</a>
                    </li>
                    <li>
                        <a href="/">Videos</a>
                    </li>
                    <li>
                        <a href="/">Music</a>
                    </li>
                    <li>
                        <a href="/">Artists</a>
                    </li>
                    <li>
                        <a href="/">Culture</a>
                    </li>
                    <li>
                        <a href="/">Store</a>
                    </li>
                    <li>
                        <div class="socials">
                            <div class="fb_link">FB</div>
                            <div class="tw_link">TW</div>
                            <div class="yt_link">YT</div>
                            <div class="ig_link">IG</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <article class="main_article">
                    <img src="" alt="MAIN IMAGE">
                    <h1>MAIN HEADLINE</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis modi molestiae, quas voluptas, ullam facere aliquam temporibus sint corporis voluptatibus omnis iusto nisi nemo cupiditate! Atque inventore culpa laborum accusantium!</p>
                </article>
                <article class="sub_article">
                    <h2>SUB HEADLINE</h2>
                    <img src="" alt="SUB IMAGE">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium similique tempore laborum nam tenetur ad odio incidunt autem earum. Asperiores iure quod praesentium pariatur numquam cupiditate quasi, ipsum labore vitae.</p>
                </article>
            </section>

            <aside>
                <section>
                    AD SPACE
                </section>
                <form action="GET">
                    <input type="text">
                    <button type="button">E-MAIL</button>
                </form>
            </aside>
        </main>

        <footer>

        </footer>
    </body>
</html>