<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tru Headz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--  This link tag includes FontAwesome in the project (fontawesome.io) -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">News</a>
                    </li>
                    <li>
                        <a href="/">Videos</a>
                    </li>
                    <li>
                        <a href="/">Music</a>
                    </li>
                    <li>
                        <a href="/">Artists</a>
                    </li>
                    <li>
                        <a href="/">Culture</a>
                    </li>
                    <li>
                        <a href="/">Store</a>
                    </li>
                </ul>
                <div class="socials">
                    <a href="https://www.facebook.com/truheadz" class="fa fa-facebook-square"></a>
                    <a href="https://twitter.com/tru_headz" class="fa fa-twitter-square"></a>
                    <a href="https://www.youtube.com/channel/UCJZ7qpB17rGqGq4oKsNeGAw" class="fa fa-youtube-square"></a>
                    <a href="https://www.instagram.com/tru_headz/" class="fa fa-instagram"></a>
                </div>
            </nav>
        </header>

        <main>
            <section class="main_section">
                <%= yield %>
            </section>

            <aside>
                <section>
                    AD SPACE
                </section>
                <form action="GET">
                    <input type="text">
                    <button type="button">E-MAIL</button>
                </form>
            </aside>
        </main>

        <footer>

        </footer>
    </body>
</html>